extends "base.jade"
- from "macros.jade" import render_field


- macro render_fake_field(data):
  .uk-form-row
    p(style="text-align:left; padding:10px 5px; border:1px solid #eee")
      {{ data }}


block body
  .uk-text-center.uk-height-1-1
    .uk-align-center(style="width:400px; margin-top:20px;")
      form.uk-panel.uk-panel-box.uk-form(method="POST", action=".")

        - if project
          h2.login-form-title Update a project
        - else
          h2.login-form-title Add a new project

        {{ form.csrf_token }}

        {{ render_field(form.title) }}

        - if project
          legend Intercom
          {{ render_fake_field(project.intercom_app_id) }}
          {{ render_fake_field(project.intercom_api_key) }}

          legend AWIS
          {{ render_fake_field(project.aws_access_id) }}
          {{ render_fake_field(project.aws_secret_access_key) }}

        - else

          legend Intercom
          {{ render_field(form.intercom_app_id) }}
          {{ render_field(form.intercom_api_key) }}

          legend AWIS
          {{ render_field(form.aws_access_id) }}
          {{ render_field(form.aws_secret_access_key) }}

        br

        {{ form.submit(class="uk-width-1-1 uk-button uk-button-primary uk-button-large") }}
