Flask==0.10.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-User==0.6.8
Flask-WTF==0.12
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
SQLAlchemy==1.0.11
WTForms==2.1
Werkzeug==0.11.3
alembic==0.8.4
bcrypt==2.0.0
blinker==1.4
cffi==1.4.2
itsdangerous==0.24
passlib==1.6.5
pycparser==2.14
pycrypto==2.6.1
python-editor==0.5
six==1.10.0
pyjade==3.1.0
psycopg2==2.8.6
funcy==1.6
celery==3.1.19
redis==2.10.5
gunicorn==19.4.5
requests==2.20.0
html5lib==0.9999999
bleach==3.1.2

-e git+https://github.com/zerc/python-awis.git@9b5bfca#egg=python-awis
