certifi==2015.11.20.1
defusedxml==0.4.1
flake8==2.5.1
Flask==0.10.1
Flask-Login==0.3.2
Flask-OpenID==1.2.5
git+https://github.com/mitsuhiko/flask-openid.git
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.3.1
pbr==1.8.1
pep8==1.5.7
pyflakes==1.0.0
python-intercom==2.1.1
python3-openid==3.0.9
requests==2.8.1
six==1.10.0
SQLAlchemy==1.0.9
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
Tempita==0.5.2
Werkzeug==0.11.2
wheel==0.24.0
WTForms==2.0.2
python-awis==1.2.1