{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>My Secure Site</h1>
    </div>
</div>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">{{ message }}</div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}