{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-info" role="alert">{{ message }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            <form action="{{ url_for('projects') }}" method=post>
                <p>Add project</p>
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <br>
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
            </form>

            <p>List of projects
            <table>
                {% for project in projects %}
                    <tr>
                        <td>#{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.awis_access_id }}</td>
                        <td>{{ project.awis_secret_access_key }}</td>
                        <td>{{ project.intercom_app_id }}</td>
                        <td>{{ project.intercom_app_api_key }}</td>
                    </tr>
                {% endfor %}
            </table>
            </p>

        </div>
    </div>
{% endblock %}